<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Turma/Professor' } %>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Listagem</h5>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Turma</th>
                  </tr>
                </thead>
                <tbody>
                  <% @class_school_teachers.each do |class_school_teacher| %>
                    <tr>
                      <th scope="row"><%= class_school_teacher.id %></th>
                      <td><%= class_school_teacher.teacher.name %></td>
                      <td><%= class_school_teacher.class_school.name %></td>
                      <td>
                        <%= link_to 'Detalhes', admin_class_school_teacher_path(class_school_teacher), class: 'btn btn-warning' %>
                        <%= link_to 'Editar', edit_admin_class_school_teacher_path(class_school_teacher), class: 'btn btn-primary' %>
                        <%= link_to 'Excluir', admin_class_school_teacher_path(class_school_teacher), method: :delete, class: 'btn btn-danger', data: { confirm: 'Deseja realmente excluir?' } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= link_to 'Novo', new_admin_class_school_teacher_path, class: 'btn btn-primary'%> 
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
